@using Mix.Models;
@using System.Linq;
@using Mix.Services;

@{
    ViewBag.Title = ViewBag.Category;
    var more = false;
}

<h2 class="result-header">@ViewBag.Category</h2>

@for (var i = 0; i < ViewBag.Cocktails.Count; i++)
{
    Cocktail cocktail = ViewBag.Cocktails[i];
    var cocktailIngredients = cocktail.Recipe
        .Where(ingredient => !ingredient.IsOptional)
        .Select(ingredient => ingredient.Name);
    var prepInVessel = cocktail.PrepMethod == PrepMethods.Build || cocktail.PrepMethod == PrepMethods.Layer;

    if (i == ViewBag.MatchCount && ViewBag.MatchCount > 0)
    {
        more = true;
        <div id="show-more">Show More…</div>
    }

    <a href="/Cocktail/@((long)cocktail.Id)">
        <div class="cocktail-result @(more ? "more" : "")">
            <div class="cocktail-name">
                @cocktail.Name
            </div>
            @ImageService.CocktailImage(cocktail, 50, "cocktail-thumbnail")
            <div>
                <p>@String.Join(", ", cocktailIngredients)<br />
                @cocktail.PrepMethodName @(prepInVessel ? " in " : " & strain into ") @cocktail.VesselName</p>
            </div>
            <div class="spacer"></div>
        </div>
    </a>
}