
@{
    ViewBag.Title = "Cocktails";
}

<h2>Cocktails</h2>

@foreach (var cocktail in @ViewBag.Cocktails)
{
    <ul>
        <li>@cocktail.Name</li>
        <ul>
            @foreach (var ingredient in @cocktail.Recipe)
            {
                <li>@ingredient.Name: @ingredient.Quantity ml
                @if(@ingredient.IsOptional) {
                    <span>(optional)</span>
                }</li>
            }
        </ul>
    </ul>
}