@using Mix.Controllers;
@using Mix.Models;
@using System.Linq;

@{
    ViewBag.Title = ViewBag.Category;
}

<ul class="categories">
    @foreach (CocktailCategory category in ViewBag.Categories)
    {
        List<Ingredients> ingredients = category.Ingredients;
        var link = "?n=" + category.Name;

        if (ingredients != null)
        {
            link += "&c=1&i=" + string.Join("&i=", ingredients.Select(i => (long)i));
        }
        if (category.Vessel != Vessels.None)
        {
            link += "&v=" + (long)category.Vessel;
        }

        <li><a href="@link">@category.Name</a></li>
    }
</ul>

<form>
    <div class="filters">
    @foreach (var ingredient in ViewBag.Ingredients)
    {
        <span class="filter-select">
            <input type="checkbox" name="i" value="@((long)ingredient.Id)" @(ViewBag.IngredientsFilter != null &&
                ViewBag.IngredientsFilter.Contains(ingredient.Id) ? "checked='checked'" : string.Empty) />
            @ingredient.Name
        </span>
    }
    </div>
    <input type="submit" value="Search" />
</form>

<dl>
<dt class="result-header">@ViewBag.Category</dt>
@for (var i = 0; i < ViewBag.Cocktails.Count; i++)
{
    Cocktail cocktail = ViewBag.Cocktails[i];
    var ingredients = cocktail.Recipe
        .Where(ingredient => !ingredient.IsOptional)
        .Select(ingredient => ingredient.Name);
    var prepInVessel = cocktail.PrepMethod == PrepMethods.Build || cocktail.PrepMethod == PrepMethods.Layer;

    if (i == ViewBag.MatchCount && ViewBag.MatchCount > 0)
    {
        <dt class="result-header">More Cocktails</dt>
    }

    <dd>
        <dl>
            <dt class="cocktail-name">
                <a href="/Cocktail/@((long)cocktail.Id)">@cocktail.Name</a>
            </dt>
            <dd>
                <p>@String.Join(", ", ingredients)<br />
                @cocktail.PrepMethodName @(prepInVessel ? " in a " : " & strain into a ") @cocktail.VesselName</p>
            </dd>
        </dl>
    </dd>
}
</dl>