@using Mix.Controllers;
@using Mix.Models;
@using System.Linq;

@{
    ViewBag.Title = ViewBag.Category;
}

<h2>Miksd</h2>
<p><strong>Your guide to cocktails / mixed drinks</strong></p>

<ul class="categories">
    @foreach (CocktailCategory category in ViewBag.Categories)
    {
        List<Ingredients> ingredients = category.Ingredients;
        var link = "?n=" + category.Name;

        if (ingredients != null)
        {
            link += "&c=1&i=" + string.Join("&i=", ingredients.Select(i => (long)i));
        }
        if (category.Vessel != Vessels.None)
        {
            link += "&v=" + (long)category.Vessel;
        }

        <li><a href="@link">@category.Name</a></li>
    }
</ul>

<form>
    <div class="filters">
    @foreach (var ingredient in ViewBag.Ingredients)
    {
        <span class="filter-select">
            <input type="checkbox" name="i" value="@((long)ingredient.Id)" @(ViewBag.IngredientsFilter != null &&
                ViewBag.IngredientsFilter.Contains(ingredient.Id) ? "checked='checked'" : string.Empty) />
            @ingredient.Name
        </span>
    }
    </div>
    <input type="submit" value="Search" />
</form>

<dl>
<dt class="result-header">@ViewBag.Category</dt>
@for (var i = 0; i < ViewBag.Cocktails.Count; i++)
{
    var cocktail = ViewBag.Cocktails[i];

    if (i == ViewBag.MatchCount && ViewBag.MatchCount > 0)
    {
        <dt class="result-header">Partial matches</dt>
    }

    <dd><dl>
        <dt class="cocktail-name">@cocktail.Name</dt>
        <dd class="cocktail">
            <dl class="column">
                <dt>Recipe</dt>
                <dd>
                    <ul>
                        @foreach (var ingredient in cocktail.Recipe)
                        {
                            <li>
                                @ingredient.QuantityHtml() @ingredient.Name
                                @if (ingredient.IsOptional)
                                {
                                    <span>(optional)</span>
                                }
                            </li>
                        }
                    </ul>
                    <p>Drinkware: @cocktail.VesselName</p>
                </dd>
            </dl>
            <dl class="column">
                <dt>Similar Cocktails</dt>
                <dd><ul>
                    @foreach (var similarCocktail in cocktail.Similar) {
                        <li>
                            <span class="similar">@similarCocktail.Name</span>
                        </li>
                    }
                </ul></dd>
            </dl>
        </dd>
    </dl></dd>
}
</dl>