@using Mix.Models;
@using System.Linq;

@{
    ViewBag.Title = ViewBag.Category;
}

<h2>Cocktails</h2>

<ul class="categories">
    @foreach (var category in ViewBag.Categories)
    {
        var name = category.Key;
        List<Ingredients> ingredients = category.Value;
        var link = "?n=" + name + "&m=1&i=" + string.Join("&i=", ingredients.Select(i => (long)i));

        <li><a href="@link">@name</a></li>
    }
</ul>

<form>
    <div class="filters">
    @foreach (var ingredient in ViewBag.Ingredients)
    {
        <span class="filter-select">
            <input type="checkbox" name="i" value="@((long)ingredient.Id)" @(ViewBag.IngredientsFilter != null &&
                ViewBag.IngredientsFilter.Contains(ingredient.Id) ? "checked='checked'" : string.Empty) />
            @ingredient.Name
        </span>
    }
    </div>
    <input type="submit" value="Search" />
</form>

<dl>
<dt class="result-header">@ViewBag.Category</dt>
@for (var i = 0; i < ViewBag.Cocktails.Count; i++)
{
    var cocktail = ViewBag.Cocktails[i];

    if (i == ViewBag.MatchCount && ViewBag.MatchCount > 0)
    {
        <dt class="result-header">Partial matches</dt>
    }

    <dd><dl>
        <dt class="cocktail-name">@cocktail.Name</dt>
        <dd><dl class="cocktail">
                <dt>Recipe</dt>
                <dd>
                    <ul>
                        @foreach (var ingredient in cocktail.Recipe)
                        {
                            <li>
                                @ingredient.Name: @ingredient.Quantity ml
                                @if (ingredient.IsOptional)
                                {
                                    <span>(optional)</span>
                                }
                            </li>
                        }
                    </ul>
                    <p>Drinkware: @cocktail.VesselName</p>
                </dd>
                <dt>Similar Cocktails</dt>
                <dd><ul>
                    @foreach (var similarCocktail in cocktail.Similar) {
                        <li>
                            <span class="similar">@similarCocktail.Name</span>
                        </li>
                    }
                </ul></dd>
        </dl></dd>
    </dl></dd>
}
</dl>