@{
    ViewBag.Title = "Cocktails";
}

<h2>Cocktails</h2>

<form>
    <div class="filters">
    @foreach (var ingredient in ViewBag.Ingredients)
    {
        <span class="filter-select">
            <input type="checkbox" name="i" value="@((long)ingredient.Id)" @(ViewBag.IngredientsFilter != null &&
                ViewBag.IngredientsFilter.Contains(ingredient.Id) ? "checked='checked'" : string.Empty) />
            @ingredient.Name
        </span>
    }
    </div>
    <input type="submit" value="Search" />
</form>

<ul>
@foreach (var cocktail in ViewBag.Cocktails)
{
    <li>@cocktail.Name
        <ul>
            <li>
                <span>Recipe:</span>
                <ul>
                    @foreach (var ingredient in cocktail.Recipe)
                    {
                        <li>
                            @ingredient.Name: @ingredient.Quantity ml
                            @if (ingredient.IsOptional)
                            {
                                <span>(optional)</span>
                            }
                        </li>
                    }
                </ul>
            </li>
            <li>
                <span>Similar Cocktails: </span>
                <ul>
                    @foreach (var similarCocktail in cocktail.Similar) {
                        <li>
                            <span class="similar">@similarCocktail.Name</span>
                        </li>
                    }
                </ul>
            </li>
        </ul>
    </li>
}
</ul>